<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <link rel="canonical" href="https://getbootstrap.com/docs/3.3/examples/starter-template/">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/starter-template.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body style="background-color:#EBF5FB">

    <div class="container">

      <div class="starter-template">
	<div class="row">
          <div class="col-md-4">
	    <img src="../static/images/couch.png" width="200" height="160"/>
	  </div>
	  <div class="col-md-4">
            <h1> Couch Checkup </h1>
            <p class="lead">Please enter your measured blood pressures </p>
	  </div>
	  <div class="col-md-4">
	    <img src="../static/images/bp_monitor.png" width="200" height="160"/>
	  </div>
	</div>
      </div>

      <div>
	  &nbsp &nbsp &nbsp &nbsp &nbsp
	  &nbsp &nbsp &nbsp &nbsp &nbsp
	  &nbsp &nbsp &nbsp &nbsp &nbsp
	  <img src="../static/images/cellphone.png" width="40" height="80"/>
      </div>
     <!--  <br /> 
      <form method="POST" action="/output">
    &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
    <label for="patient_id">Patient Id</label>
    <input type="text" id="patient_id" name="patient_id" placeholder={{patient_id}} />
        
          <br><br>
        
	    &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
	    <label for="patient_id">systolic blood pressure</label>
	    <input type="text" id="sys_bp" name="sys_bp" placeholder={{sys_bp}} />

	  &nbsp &nbsp &nbsp &nbsp &nbsp
	  &nbsp &nbsp &nbsp &nbsp &nbsp
	  <label for="patient_id">diastolic blood pressure</label>
	  <input type="text" id="dia_bp" name="dia_bp" placeholder={{dia_bp}} />
	  
        
          <br><br>

</form>
-->

	<!-- Python figure -->
	<div class="row">
	  <div class="column" > </div>
	  <div class="column"> 
	    {% if high_bp %}
	    <div style="background-color:#EC7063;color:white;text-align:center">
	      <h3>Your blood pressure is higher than expected</h3>
	      <h3>please see your physician</h3>
	    </div> 
	    {% endif %}
      
	    </div>
	    <div class="column"> </div>
	  </div>

	  <div class="row">
            <div class="col-md-4" align="right">
	      {{ bp_img_sys|safe }}
	    </div>
	    <div class="col-md-4">
	      
	    </div>
	    <div class="col-md-4">
	    <br> <br>
	    {{ bp_img_dia|safe }}
	  </div>
	  </div>

	  <div class="row">
            <div class="col-md-4" align="center">
	      <h3> Your history </h3>
	      {{ bp_tot_img_sys|safe }}	    
	    </div>
	    <div class="col-md-4">
	    </div>
	    <div class="col-md-4">
	      <br> <br>
		{{ bp_tot_img_dia|safe }}
	  </div>
	  </div>


	  <!--
	  <div class="col-lg-9">
	     {{ bp_img_sys|safe }}

	    {{ bp_tot_img_sys|safe }} 

	    <br/> <br/>

	    <div align="center">
	    {{ bp_img_dia|safe }}
	    </div>
	    </div>
	    -->

      <form method="GET" action="/restart">
	&nbsp
        <input type="submit" name="button" value="Reset"/>
      </form>


    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
